<li class="dropdown {% if app.request.attributes.get('_route') starts with 'admin_product' or app.request.attributes.get('_route') starts with 'admin_category' %}active{% endif %}">
    <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">{{ "Vidéo" }} <b
                class="caret"></b></a>
    <ul class="dropdown-menu">
        <li {% if app.request.attributes.get('_route') starts with 'admin_product' %}class="active"{% endif %}><a
                    href="{{ path('admin_product') }}">{{ "Vidéo" }}</a></li>
        <li {% if app.request.attributes.get('_route') starts with 'admin_category' %}class="active"{% endif %}><a
                    href="{{ path('admin_category') }}">{{ "Catégories" }}</a></li>
    </ul>
</li>

<li class="dropdown {% if app.request.attributes.get('_route') starts with 'admin_referencing' or app.request.attributes.get('_route') starts with 'admin_keywords' %}active{% endif %}">
    <a href="#" data-target="#" class="dropdown-toggle" data-toggle="dropdown">{{ "Referencement" }} <b
                class="caret"></b></a>
    <ul class="dropdown-menu">
        <li {% if app.request.attributes.get('_route') starts with 'admin_referencing' %}class="active"{% endif %}><a
                    href="{{ path('admin_referencing') }}">{{ "Referencement des pages" }}</a></li>
        <li {% if app.request.attributes.get('_route') starts with 'admin_keywords' %}class="active"{% endif %}><a
                    href="{{ path('admin_keywords') }}">{{ "Key words" }}</a></li>
    </ul>
</li>

<li {% if app.request.attributes.get('_route') starts with 'admin_news' %}class="active"{% endif %}>
    <a href="{{ path('admin_news') }}">{{ "News" }}</a>
</li>
<li {% if app.request.attributes.get('_route') starts with 'admin_partner' %}class="active"{% endif %}>
    <a href="{{ path('admin_partner') }}">{{ "Partenaires" }}</a>
</li>
<li {% if app.request.attributes.get('_route') starts with 'admin_guestbook' %}class="active"{% endif %}>
    <a href="{{ path('admin_guestbook') }}">{{ "Livre d'or" }}</a>
</li>
<li {% if app.request.attributes.get('_route') starts with 'admin_contact' %}class="active"{% endif %}>
    <a href="{{ path('admin_contact') }}">{{ "Contact" }}</a>
</li>
<li {% if app.request.attributes.get('_route') starts with 'admin_page' %}class="active"{% endif %}>
    <a href="{{ path('admin_page') }}">{{ "Pages" }}</a>
</li>
<li {% if app.request.attributes.get('_route') starts with 'admin_user' %}class="active"{% endif %}>
    <a href="{{ path('admin_user') }}">{{ "Utilisateurs" }}</a>
</li>
